<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head :: head (${'活动管理'}) ">
</head>
<body>
<div class="container">

    <!--隐藏id--><input id="activityId" type="hidden" name="id" value="0" th:value="${query.id}"/>

    <!--服务列表-->
    <table id="dg"></table>

</div>
<script th:src="@{/resource/js/activity/queryCoupon.js}"></script>
<script th:src="@{/resource/js/common/dateformatter.js}"></script>
<script th:src="@{/resource/js/common/validate.js}"></script>
</body>
</html>