<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arc.mp.mapper.system.CardMapper">
	<resultMap id="card" type="com.arc.mp.model.domain.system.Card">
        <id property="id" column="card_id" javaType="long" jdbcType="BIGINT" />
        <result property="cardType" column="card_card_type" javaType="string" jdbcType="VARCHAR" />
        <result property="description" column="card_description" javaType="string" jdbcType="VARCHAR" />
		<result property="level" column="card_level" javaType="int" jdbcType="INTEGER" />
		<result property="name" column="card_name" javaType="string" jdbcType="VARCHAR" />
		<result property="parentId" column="card_parent_id" javaType="long" jdbcType="BIGINT" />
		<result property="priority" column="card_priority" javaType="string" jdbcType="VARCHAR" />
		<result property="projectId" column="card_project_id" javaType="long" jdbcType="BIGINT" />
		<result property="resolution" column="card_resolution" javaType="string" jdbcType="VARCHAR" />
		<result property="state" column="card_state" javaType="int" jdbcType="INTEGER" />
	</resultMap>

	<sql id="sqlCardColumns">
		card_.card_type AS card_card_type,
		card_.description AS card_description,
		card_.id AS card_id,
		card_.`level` AS card_level,
		card_.name AS card_name,
		card_.parent_id AS card_parent_id,
		card_.priority AS card_priority,
		card_.project_id AS card_project_id,
		card_.resolution AS card_resolution,
		card_.state AS card_state
	</sql>

    <delete id="delete" parameterType="long"  >
        DELETE FROM  t_card
        WHERE  id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="get" parameterType="long" resultMap="card">
		SELECT <include refid="sqlCardColumns" />
        FROM t_card card_
        WHERE card_.id = #{id,jdbcType=BIGINT}
	</select>

    <select id="list"  resultMap="card">
        SELECT <include refid="sqlCardColumns" />
        FROM t_card card_
    </select>


    <select id="listByProjectId"  parameterType="long" resultMap="card">
        SELECT
        <include refid="sqlCardColumns"/>
        FROM t_card card_
        <where>
            <if test="projectId != null">card_.project_id = #{projectId,jdbcType=BIGINT}</if>
        </where>
    </select>


    <insert id="save" parameterType="com.arc.mp.model.domain.system.Card" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_card (
			card_type,
			description,
			`level`,
			`name`,
			parent_id,
			priority,
			project_id,
			resolution,
			state
		)
        VALUES (
			#{cardType,jdbcType=VARCHAR},
			#{description,jdbcType=VARCHAR},
			#{level,jdbcType=INTEGER},
			#{name,jdbcType=VARCHAR},
			#{parentId,jdbcType=BIGINT},
			#{priority,jdbcType=VARCHAR},
			#{projectId,jdbcType=BIGINT},
			#{resolution,jdbcType=VARCHAR},
			#{state,jdbcType=INTEGER}
		)
	</insert>

	<update id="update" parameterType="com.arc.mp.model.domain.system.Card">
		UPDATE t_card
		<set>
			<if test="cardType != null and cardType != ''">card_type = #{cardType,jdbcType=VARCHAR},</if>
			<if test="description != null and description != ''">description = #{description,jdbcType=VARCHAR},</if>
			<if test="level != null">`level` = #{level,jdbcType=INTEGER},</if>
			<if test="name != null and name != ''">`name` = #{name,jdbcType=VARCHAR},</if>
			<if test="parentId != null">parent_id = #{parentId,jdbcType=BIGINT},</if>
			<if test="priority != null and priority != ''">priority = #{priority,jdbcType=VARCHAR},</if>
			<if test="projectId != null">project_id = #{projectId,jdbcType=BIGINT},</if>
			<if test="resolution != null and resolution != ''">resolution = #{resolution,jdbcType=VARCHAR},</if>
			<if test="state != null">state = #{state,jdbcType=INTEGER},</if>
		</set>
		WHERE id = #{id,jdbcType=BIGINT}
	</update>

</mapper>
