<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div class="header1">
    <div class="header2">
        <div class="logo">
            <strong style="font-size: 24px;font-family: cursive;">短信管理平台</strong>
        </div>
        <div class="contact">
            <div class="prompt">
                <span>2014年10月26日 星期日 农历闰九月初三</span>
            </div>
            <div class="headerMenu">
                <ul>
                        <span>
                            <!--<a id="username" type="text">您好，管理员</a>-->
                            <!--<input id="logout" type="button" name="username" value="安全退出"-->
                            <!--class="easyui-linkbutton" data-options="plain:true"/>-->
                     <a id="logout" href="javascript:void(0)" onclick="logout()"
                             class="easyui-linkbutton" data-options="plain:true">安全退出</a>
                            <!--<a id="logout" href="/logout" class="easyui-linkbutton" data-options="plain:true">安全退出</a>-->
                        </span>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


</script>
</body>
</html>