<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <!--<link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->
    <!--<link href="/js.plugins/bootstrap/dist/css/cssReset.css" rel="stylesheet"></link>-->
    <!--<link href="/js.plugins/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"></link>-->

    <script type="text/javascript" th:src="@{/plugins/jquery/jQuery.js}"></script>

    <!--<script type="text/javascript" src="@{/plugins/jquery/jQuery.js}"></script>-->
    <!--<script type="text/javascript" src="@{/plugins/bootstrap/dist/js/bootstrap.js}"></script>-->

</head>
<script type="text/javascript">
    function count() {
        var timestamp_start = (new Date()).valueOf();
        console.log("---------------------------------");
        console.log(timestamp_start);
        console.log(timestamp_start);
        alert(new Date());
        console.log("---------------------------------");


        timestamp_start = (new Date()).valueOf();
        var sum = 0;

        for (i = 0; i < 10000000001; i++) {
            sum += i;
        }
        var timestamp_end = (new Date()).valueOf();
        var bt = (timestamp_end - timestamp_start) / 1000;
        console.log("计算耗时=" + bt);
        console.log(
            "        //Ryzen 1600X    33.687 秒\n" +
            "        //i7-8750H          196.308 秒       ThinkPad X1\n" +
            "        //i7 5500U            266.919 秒");
        alert("计算耗时=" + bt + " 秒");
    }

    console.log("###########");

    console.log("jQuery引入成功：" + ($ == jQuery));
</script>
<body>
<button onclick="count()">测试</button>
<hr>
<h2>

</h2>
</body>
</html>
