<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>index</title>
</head>
<body>

<div>
    <div>
        <h1>index</h1>
    </div>
    <hr>

</div>
<script th:src="@{/webjars/github-com-novaeye-jquery-easyui-bower/1.5.0.1/jquery.min.js}"></script>
<script type="text/javascript">
    //加密方法
    function encrypt(data) {
        var key = CryptoJS.enc.Latin1.parse("91dGsCsjD%IbnMLg");
        var iv = CryptoJS.enc.Latin1.parse("o0dneh38V^R8*kjs");
        return CryptoJS.AES.encrypt(data, key, {
            iv: iv,
            mode: CryptoJS.mode.CBC,
            padding: CryptoJS.pad.ZeroPadding
        }).toString();
    }

    //失去焦点事件
    /*    $('#password').blur(function () {
            var rePass = encrypt($(this).val() );//密文
            console.log($(this).val() + "--->" + rePass);
            $(this).val(rePass);//加密
        });
        */


    function onsSubmitFun() {
        //失去焦点事件
        var rePass = encrypt($("#password").val());//密文
        console.log($("#password").val() + "--->" + rePass);
        $("#password").val(rePass);//加密
    }

</script>
</body>
</html>
