<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>首页实验</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="apple-touch-icon" th:href="@{/bootstrap/img/icon/myFavicon.ico}" href="../static/bootstrap/img/icon/myFavicon.ico">
    <link rel="icon" th:href="@{/bootstrap/img/icon/myFavicon.ico}" href="../static/bootstrap/img/icon/myFavicon.ico">
    <link th:href="@{/bootstrap/css/bootstrap.css}" href="../static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" href="../static/bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>
    <script th:src="@{/bootstrap/js/jquery-3.3.1.min.js}" src="../static/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}" src="../static/bootstrap/js/bootstrap.js"></script>
    <script th:src="@{/bootstrap/js/plugins/jquery-validation/jquery.validate.js}"
            src="../static/bootstrap/js/plugins/jquery-validation/jquery.validate.js"></script>
    <script th:src="@{/bootstrap/js/plugins/jquery-validation/localization/messages_zh.js}"
            src="../static/bootstrap/js/plugins/jquery-validation/localization/messages_zh.js"></script>
    <script th:src="@{/bootstrap/js/jquery-bootstrap.js}" src="../static/bootstrap/js/jquery-bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Hello, world!</h1>
            <p>个人测试</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/1073876389" role="button">点我一下</a></p>
        </div>
    </div>
</div>
</body>
</html>