<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>首页  彩虹小马驹</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.css}" href="../static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" href="../static/bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>
    <script th:src="@{/bootstrap/js/jquery-3.3.1.min.js}" src="../static/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}" src="../static/bootstrap/js/bootstrap.js"></script>
    <script th:src="@{/bootstrap/js/plugins/jquery-validation/jquery.validate.js}" src="../static/bootstrap/js/plugins/jquery-validation/jquery.validate.js"></script>
    <script th:src="@{/bootstrap/js/plugins/jquery-validation/localization/messages_zh.js}" src="../static/bootstrap/js/plugins/jquery-validation/localization/messages_zh.js"></script>
    <script th:src="@{/bootstrap/js/jquery-bootstrap.js}" src="../static/bootstrap/js/jquery-bootstrap.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#main a").on('click',(function (e) {
                //打开菜单对应的URL
                e.preventDefault();
                $(this).tab('show');
                $("#rightMain").prop("src",'/allUser');
            }))
        })
    </script>
</head>
<body>
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#">Project name</a>-->
        <!--</div>-->
        <!--<div id="navbar" class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#about">About</a></li>-->
                <!--<li><a href="#contact">Contact</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li class="dropdown-header">Nav header</li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="../navbar/">Default</a></li>-->
                <!--<li><a href="../navbar-static-top/">Static top</a></li>-->
                <!--<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
    <!--</div>-->
<!--</nav>-->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                  session 欢迎访问 <small th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"></small>管理员
                   欢迎访问 <small th:text="${SessionUser.username}"></small>管理员
                  <!--另外一种方式获取session中的用户信息以及错误消息-->
                </h1>
                <form id="logoutForm" action="/logout" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="submit" class="btn btn-default" style="width: 100px;">
                        安全登出
                    </button>
                </form>
                    <!--<div>-->
                        <!--<img  style="width: 140px;height: 140px" th:src="@{/bootstrap/img/meizi.jpg}" src="..static/bootstrap/img/meizi.jpg" class="img-responsive img-circle" alt="Responsive image">-->
                    <!--</div>-->
                <!--<div class="col-lg-1" style="height: 140px;width: 140px" >-->
                    <!--<img  th:src="@{/bootstrap/img/meizi.jpg}" src="..static/bootstrap/img/meizi.jpg" class="img-responsive img-circle" alt="Responsive image">-->
                <!--</div>-->
            </div>
        </div>
        <div id="main" class="col-md-3">
            <ul class="nav nav-list well">
                <li class="nav-header">
                    列表标题
                </li>
                <li class="active">
                    <a href="/allUser">用户页</a>
                </li>
                <li>
                    <a href="/uploadFiles">文件上传页</a>
                </li>
                <li>
                    <a href="/oneUser">导出演示</a>
                </li>
                <li class="nav-header">
                    功能列表
                </li>
                <li>
                    <a href="#">资料</a>
                </li>
                <li>
                    <a href="#">设置</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">帮助</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <iframe name="right" id="rightMain" src="" frameborder="no" scrolling="auto" width="100%" height="100%" allowtransparency="true"/>
        </div>
    </div>
</div>
</body>
</html>