<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue组件</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script>
       //创建方式1. 写在外面 全局的
       var myComponent = Vue.extend({
            template:'<h2>hello vue 组件</h2>'
       });
       Vue.component('my-hello',myComponent); //一般已 my-打头

        //创建方式2
       Vue.component('hello2',{
           template:'<h2>hello vue 组件</h2>'
       });



       var vm = null;
       window.onload=function(){
           vm = new Vue({
              el:"#my",
              data:{
                  name:'xuwx',
                  user:{
                      name:'jack',
                      age:18,
                      sex:'man',
                      flag:true
                  },
                  posts: [
                      { id: 1, title: 'My journey with Vue' },
                      { id: 2, title: 'Blogging with Vue' },
                      { id: 3, title: 'Why Vue is so fun' }
                  ]
              },
              methods:{

              },
               //定义局部组件 注意这里是 s 与外面不一样
               //组件直接相互独立
              components:{
                  'my-world':{
                      template:'<h2>{{world}}</h2>',
                      data(){
                          return{
                              world:"我是组件内部data"
                          }
                      }
                  },
                  //模板内容较多时 使用template来定义
                  'my-model':{
                      template:'#model',
                      data(){
                          return{
                              world:"组件内部data",
                              arr:["游戏","动漫","电影"]
                          }
                      }
                  },
                  //通过 Prop 向子组件传递数据
                  'my-blog':{
                      props:['title'],
                      template:'#blog'
                  }
              }

           });
       }

   </script>
</head>
<template id="model">
    <div>
    <h1>大量html的组件</h1>
       <h2>{{world}}</h2>
       <ul>
           <li v-for="item in arr">{{item}}</li>
       </ul>
    </div>
</template>
<template id="blog">
    <div>
        <h2>{{title}}</h2>
    </div>
</template>
<body>
<h1>组件  封装代码增加可复用性</h1>
    <div id="my">
        <!--调用了定义的组件-->
        <my-hello></my-hello>
        <my-world></my-world>
        <my-model></my-model>

        <!---->
        <my-blog title="我就是游戏"></my-blog>
        <my-blog title="我就是不一般"></my-blog>
        <my-blog title="我就是无懈可击"></my-blog>

        <!--利用bind来绑定数据-->
        <my-blog v-for="item in posts" v-bind:key :title="item.title"></my-blog>

    </div>
</body>
</html>