<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head :: head (${'活动管理'}) ">
</head>
<body>
<div>
    <h1>v1</h1>
    <h1>v1</h1>
</div>

<script th:src="@{/resource/js/common/ajax.js}"></script>
<script th:src="@{/resource/js/common/dateformatter.js}"></script>
<script th:src="@{/resource/js/common/dataServiceImpl.js}"></script>
<script th:src="@{/resource/js/common/combobox.js}"></script>
<script th:src="@{/resource/js/activity/addActivityCoupon.js}"></script>
<script th:src="@{/resource/js/activity/query.js}"></script>
</body>
</html>
