<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongyi.hla.mapper.rbac.UserMapper">
  <resultMap id="BaseResultMap" type="com.rongyi.rbac.model.entity.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_name" jdbcType="VARCHAR" property="createName"/>
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="reason" jdbcType="VARCHAR" property="reason"/>
    <result column="disable_at" jdbcType="TIMESTAMP" property="disableAt"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, username, password, name, nickname, phone, memo, status, create_at, update_at, 
    create_by, update_by ,reason,disable_at
  </sql>
  <select id="selectByExample" parameterType="com.rongyi.rbac.model.entity.UserQueryCondition" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
  id , username,password , name, nickname, 
   phone, memo,STATUS,create_at,
   update_at,create_by,update_by,create_name ,update_name , reason,disable_at
   FROM user u LEFT JOIN 
(SELECT id AS ids , username AS create_name FROM user)
 us ON create_by = ids
  LEFT JOIN (SELECT id AS idss , username AS update_name FROM user) uss ON update_by = idss
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pageSize != 0">
      limit ${pageStart},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM  user
    WHERE id = #{userId,jdbcType=INTEGER}
    ORDER BY id DESC LIMIT 1;
  </select>
  
  <select id="getUserByUserAccount" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM  user
    WHERE username = #{userAccount,jdbcType=VARCHAR}
    ORDER BY id DESC LIMIT 1;
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rongyi.rbac.model.entity.UserQueryCondition">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rongyi.rbac.model.entity.UserInfo">
    insert into user (id, username, password, 
      name, nickname, phone, 
      memo, status, create_at, 
      update_at, create_by, update_by
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createAt,jdbcType=TIMESTAMP}, 
      #{updateAt,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rongyi.rbac.model.entity.UserInfo" useGeneratedKeys="true" keyProperty="id">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="disableAt != null">
        disable_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="disableAt != null">
        #{disableAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <select id="countByExample" parameterType="com.rongyi.rbac.model.entity.UserQueryCondition" resultType="java.lang.Integer">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>


  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createAt != null">
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateAt != null">
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set id = #{record.id,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_by = #{record.updateBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongyi.rbac.model.entity.UserInfo">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="disableAt != null">
          disable_at = #{disableAt,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rongyi.rbac.model.entity.UserInfo">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findPageList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,create_name,update_name
    FROM user u LEFT JOIN 
    (SELECT id AS ids , username AS create_name FROM user) us 
    ON create_by = ids
    LEFT JOIN (SELECT id AS idss , username AS update_name FROM user) uss 
    ON update_by = idss
    where 1=1
    <if test="account != null">
        AND username like concat('%',#{account,jdbcType=VARCHAR},'%')
    </if>
 	<if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
    </if>
    <if test="name != null">
      AND `name` like concat('%',#{name,jdbcType=VARCHAR},'%')
    </if>
    order by create_at desc
    limit ${pageStart},${pageSize}
  </select>
  
  <select id="findUsersCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(1)
    FROM user u LEFT JOIN 
    (SELECT id AS ids FROM user) us 
    ON u.create_by = ids
    LEFT JOIN (SELECT id AS idss FROM user) uss 
    ON u.update_by = idss
    where 1=1
    <if test="account != null">
        AND username like concat('%',#{account,jdbcType=VARCHAR},'%')
    </if>
 	<if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
    </if>
    <if test="name != null">
      AND `name` like concat('%',#{name,jdbcType=VARCHAR},'%')
    </if>
  </select>

  <select id="queryUserList" parameterType="com.rongyi.rbac.model.param.UserParam" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM  user
    WHERE  1=1
    <if test="username != null">
      AND `username` LIKE CONCAT('%',#{username,jdbcType=VARCHAR},'%')
    </if>
    ORDER By create_at DESC
    <if test="pageStart != null and pageSize != null">
      LIMIT #{pageStart}, #{pageSize}
    </if>
  </select>

  <select id="queryUserListCount" parameterType="com.rongyi.rbac.model.param.UserParam" resultType="java.lang.Integer">
    SELECT
    count(1)
    FROM  user
    WHERE  1=1
    <if test="username != null">
      AND `username` LIKE CONCAT('%',#{username,jdbcType=VARCHAR},'%')
    </if>
  </select>
  
  </mapper>